div{
  width:400px;
  display:inline-block;
  background-color:rgba(0, 0, 0, 0.05);
  padding-left:15px;
  margin-left:10px;
}


.in{
  font-weight:bold;
  font-size:22px;

}

.ad{
  width:380px;
  font-size:18px;
}